<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Add product</h1>
    <form action="/doAddProduct" method="post">
         <table>
        <tr>
            <td>Id</td>
            <td><input type="text" name="txtId" id=""></td>
        </tr>
        <tr>
            <td>Name</td>
            <td> <input type="text" name="txtName" id=""></td>
        </tr>
        <tr>
            <td>Price</td>
            <td><input type="text" name="Price" id=""></td>
        </tr>
        <tr align="right">
            <td colspan="2"><input type="submit" value="Add Product"/></td>          
        </tr>
    </table>    
    </form>
</body>
</html>